.panel.panel-default
  .panel-heading
    %h1.panel-title Listing categories

  %table.table
    %tr
      %th Category name
      %th
      %th
      %th

    - categories.each do |category|
      %tr
        %td= category.name
        %td= link_to 'Show', category
        - if current_user && current_user.admin?
          %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

- if current_user && current_user.admin?
  = link_to '+ New Category', new_category_path
