%p.col-md-12
  = link_to '< Back', category_products_path, class: 'btn btn-primary'

.col-md-8
  .panel.panel-default
    .panel-heading
      %h3.panel-title.text-center
        = product.title
        %span.small
          - if current_user && current_user.is_product_owner?(product)
            = link_to 'Edit this product', edit_category_product_path(category.id, product.id)

    .panel-body
      %dl.dl-horizontal
        %dt Price
        %dd= product.price

        %dt Description
        %dd= product.description

        %dt Category
        %dd= link_to product.category.name, category

.col-md-4
  .panel.panel-default
    .panel-heading
      %h4.panel-title Reviews

    .panel-body
      - if current_user
        %h4{id: "add-review"} + Add Review
        = render 'reviews/form'

      %hr

      - if product.reviews.any?
        = render reviews
      - else
        Be the first to write a review!
